<!DOCTYPE=html>
<html>
  <head>
    <meta charset="utf-8">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="css/foundation.css"/>
    <link rel="stylesheet" href="css/custom.css"/>
    <script src="js/vendor/modernizr.js"></script>
    <title>Tacos in Space</title>
  </head>

  <body>
     <div class="row">
        <div class="large-12 columns">
          <h1 class="text-center">Tacos in Space</h1>
        </div>      
      </div>
     
      <div class="row">
        <div class="large-12 columns">
        <div id="slider" class="green-layer">
          <img id="doge-taco" src="/img/spacetacodoge.jpg"/>
        </div>
        
        <hr/>
        </div>
      </div>
      
     
     
      <div class="row">
        <div class="large-4 columns" id="tacos">
          <img src="/img/tacos.jpg"/>
          <h4>Nom nom nom</h4>
          <p>Our tacos are out of this world!</p>
        </div>
        
        <div class="large-4 columns" id="margaritas">
          <img src="/img/margarita.jpg"/>
          <h4>TEQUILAAAA</h4>
          <p>Margaritaville goes universal.</p>
        </div>
        
        <div class="large-4 columns" id="outdoor">
          <img src="/img/astro.jpg"/>
          <h4>Patio Party</h4>
          <p>Chilling on the porch has a whole new look.</p>
        </div>
      
        </div>
        
     
    <div class="row">
        <div class="large-12 columns">
        
          <div class="panel">
            <h4>Say hi!</h4>
                
            <div class="row">
              <div class="large-9 columns">
                <p>We'd love to hear from you, you attractive person you.</p>
              </div>
              <div class="large-3 columns">
                <a href="#" class="radius button right">Burrito Gram</a>
              </div>
            </div>
          </div>
          
        </div>
      </div>
     
      <footer class="row">
        <div class="large-12 columns">
          <hr/>
          <div class="row">
            <div class="large-6 columns">
              <p>© Copyright Team Taco Pony.</p>
            </div>
          </div>
        </div> 
      </footer>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>    
      <script src="js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
    <script src="/js/taco.js"></script>
  </body>
</html>