h1 {
  border-bottom: 1px solid #ccc;
  color: #3E4F67;
  font-size: 4em;
}

#doge-taco {
  display: block;
  margin: 0 auto;
}

.green-layer {
  background-color: #AFC16B;
}

.blue {
  color: blue;
}